[submodule "app/jni/libusb/libusb"]
	path = app/jni/libusb/libusb
	url = https://github.com/libusb/libusb.git
[submodule "app/jni/SDL"]
	path = app/jni/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "app/jni/m8c"]
	path = app/jni/m8c
	url = https://github.com/v3rm0n/m8c.git
	branch=async-cmd-queue
