name: Build branch artifact

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch name'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Git Submodule Update
        run: git submodule update --init

      - name: Build M8Client
        uses: gradle/gradle-build-action@v3
        with:
          arguments: --build-cache -PversionName=${{ inputs.branch }} build

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: m8c.apk
          path: app/build/outputs/apk/debug/app-debug.apk
