name: Tag
on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * SUN
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.mytoken }}
