name: Test
on:
  pull_request:
    branches: 
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: "11"
        distribution: temurin

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Git Submodule Update
      run: git submodule update --init

    - name: Build M8Client
      uses: gradle/gradle-build-action@v2
      with:
        arguments: --build-cache check
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: "app/build/test-results/**/*.xml"
