name: Test
on:
  pull_request:
    branches: 
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: temurin

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Git Submodule Update
      run: git submodule update --init

    - name: Build M8Client
      uses: gradle/gradle-build-action@v3
      with:
        arguments: --build-cache check
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: "app/build/test-results/**/*.xml"
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: v3rm0n/action-dependabot-auto-merge@digest
        with:
          github-token: ${{ secrets.mytoken }}
